<h1>Create a new blog post</h1>
<form action="/post/create" method="POST" enctype="multipart/form-data">
  <p>Title: <input type="text" name="title"></p>
  <p>Text: <textarea name="body" rows="10" cols="40"></textarea></p>
  <p>Attachment: <input type="file" name="attachment" > </p>
  <input type="submit" name="Publish" >
</form>